name: Time-consuming test

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Cargo Test
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5
      - run: export PATH=~/.cargo/bin:$PATH
      - run: |
          source ~/.zkm-toolchain/env
          cargo test -r -p zkm-core-machine
          for pkg in zkm-sdk zkm-verifier; do
            RUSTFLAGS="-C target-cpu=native" cargo test -r -p $pkg
          done